.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('../../../assets/golfballtee.png');
    background-size: cover;
    box-shadow: 0 0 16px #607d3d;
  }

  div {
    margin: 8px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  mat-card {
    box-shadow: 0 0 10px #000000;
    opacity: 83%;
  }

  mat-card, mat-card-header, mat-card-title, mat-card-subtitle {
    margin: 8px;
    background-color: white;
    color: #5f8210;
    text-shadow: 0 0 8px #607d3d;
  }