.pageNotFoundContainer {
    margin-top: 30vh;

    .pageNotFoundMessage {
        font-size: 70px;
        font-weight: bold;
        text-align: center;
    }
    .pageNotFoundStatement {
        margin-top: 25px;
        font-size: 25px;
        text-align: center;
    }
}