@import '../../styles/base';

.card-container{
    margin: 8px;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: center;

    max-width: 620px;
    height: calc(100vh - 115px);
    overflow-y: scroll;

    .example-card {
        width: 200px;
      }
      
      .example-header-image {
        background-image: url('../../../assets/golfballtee.png');
        background-size: cover;
        box-shadow: 0 0 16px #607d3d;
      }

      img {margin-bottom: 0px;}
      mat-card {
        box-shadow: 0 0 10px #000000;
        opacity: 83%;
      }
      mat-card-title, mat-card-content, mat-card-subtitle {
        margin: 0px;
      }
      mat-card, mat-card-header, mat-card-title, mat-card-subtitle {
        margin: 5px;
        background-color: white;
        color: #5f8210;
        text-shadow: 0 0 8px #607d3d;
      }

}

.tally {
    color: white;
    background-color: #7C9940;
    border-radius: 0px 0px 10px 10px;

    .flexAround {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    .totalInputs {
        width: 20px;
    }
    .topScore {
        border-bottom: 1px solid white;
    }
}

.endGame {
  position: absolute;
  bottom: 10px;
  right: 10px;

  width: 38px;
  height: 38px;

  color: white;
  background-color: $secondary;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 0px 5px $secondary;
}

.noDisplay { display: none; }
.popup-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background-color: #1d1d1d8f;
  width: 100vw;
  height: 100vh;

  .popUp-container {
      position: relative;
      width: 240px;
      height: 300px;

      padding: 5px;

      background-color: white;
      border-radius: 10px;
      border: 1px solid #3a3a3a;

      .popUpMessage {
        font-size: 12px;

        .eachMessage {
          margin-bottom: 5px;
        }
      }

      .popUpBtns {
        position: absolute;
        bottom: 10px;
        left: 13px;

        .closeBtn {
          margin-right: 10px
        }
      }
  }
}
.noDisplay { display: none; }