<div id="popUp" class="popup-background noDisplay">
    <div class="popUp-container">
        <div style="text-align: center; text-decoration: underline;">Game End:</div>
        <hr>
        <div class="popUpMessage">
            <div class="eachMessage" *ngFor="let message of td.gameEndMessages">
                <div>{{message}}</div>
                <hr>
            </div>
        </div>
        <div class="popUpBtns">
            <button class="closeBtn" (click)="closePopup()" mat-raised-button color="primary">Back to Card</button>
            <button (click)="resetGame()" mat-raised-button color="primary">New Game</button>
        </div>
    </div>
</div>


<div *ngIf="dataGot != false">
    <div class="tally">
        <div class="flexAround topScore">
            <span *ngFor="let player of course.players">
                <span>{{player.name | shorter}}: </span>
                <input class="totalInputs" type="text" [value]="noZero(addScoreData(player))">
            </span>
        </div>
        <div class="flexAround bottomScore">
            <span>Yards: {{course.yards.total}}</span>
            <span>Pars: {{course.pars.total}}</span>
            <span>Handicaps: {{course.handicaps.total}}</span>
        </div>
    </div>

    <div class="card-container">
    <mat-card class="example-card" *ngFor="let hole of course.holes.data">
        <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Hole: {{hole}}</mat-card-title>
        <mat-card-subtitle>Par: {{course.pars.data[course.holes.data.indexOf(hole)]}}</mat-card-subtitle>
        <mat-card-subtitle>Yardage: {{course.yards.data[course.holes.data.indexOf(hole)]}}</mat-card-subtitle>
        <mat-card-subtitle>Handicap: {{course.handicaps.data[course.holes.data.indexOf(hole)]}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="/assets/golfpic{{images[course.holes.data.indexOf(hole)]}}.png">
        <mat-card-content>
        <div *ngFor="let player of course.players">{{player.name}}<br>
            <input type="number" [(ngModel)]="player.data[course.holes.data.indexOf(hole)]">
        </div>
        </mat-card-content>
    </mat-card>
    </div>

    <button class="endGame" (click)="endGame()">End</button>
</div>